@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
.App {
  font-family: "Roboto";
}
img {
  width: 100%;
}
.dashboard-main {
  position: absolute;
  top: 0;
  right: 0;
  width: 83%;
  min-height: 100vh;
  background: #f2f3f8;
  z-index: 1;
}
.dashboard-main#active {
  width: 100%;
  transition: 250ms all linear;
}
.dashboard-main#activenot {
  width: 83%;
  transition: 250ms all linear;
}
.sidebar-main {
  position: fixed;
  top: 0;
  left: 0;
  width: 83%;
  height: 100%;
  box-shadow: 1px 0px 20px rgb(0 0 0 / 8%);
  z-index: 30;
}
.sidebar-main#active {
  width: 0%;
  transition: 250ms all linear;
  z-index: 0;
}
.sidebar-main#activenot {
  width: 17%;
  transition: 250ms all linear;
}
.bar,
.mailbars {
  background: none;
  width: 30px;
  border: none;
  cursor: pointer;
  position: relative;
  outline: none;
}
.bar span,
.mailbars .mailspan {
  display: block;
  height: 2px;
  background-color: #fff;
  margin: 6px 0;
  position: relative;
  transition: 0.3s linear;
}
.mailbars {
  background: #17b3a3;
  padding: 10px;
  width: 50px;
  border-radius: 10px;
  display: none;
}
.navbars {
  width: 85%;
  background-color: #3e8ef7;
  padding: 15px 10px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
}
.navbars#active {
  width: 100%;
  transition: 250ms all linear;
}
.navbars#activenot {
  width: 83%;
  transition: 250ms all linear;
}
.navbars .MuiSvgIcon-root {
  color: #fff;
}
.user-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user-menu .MuiSvgIcon-root {
  cursor: pointer;
}
.user {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 10px;
  cursor: pointer;
}
.notify,
.msg {
  position: relative;
  padding: 0 3px;
}
.bell_icon,
.msg .MuiSvgIcon-root {
  font-size: 20px !important;
}

.notify span,
.messages-nav span,
.msg span {
  width: 7px;
  height: 7px;
  background-color: #ff4961;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
}
.dash-showcase {
  margin-top: 70px;
}
.right-side {
  background: #fff;
  padding: 20px 10px;
  border-radius: 10px;
  border: 1px solid #e2e2e2;
}
.write-ups {
  border-bottom: 2px solid #f2f3f8;
  margin-bottom: 10px;
}
.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.top-boxa,
.top-boxb {
  background: #fff;
  padding: 20px 15px;
  border-radius: 10px;
  border: 1px solid #e2e2e2;
}
.top-boxa h6,
.top-boxb h6 {
  font-size: 12px;
}
.top-boxb {
  margin-top: 30px;
}
.Dashtable {
  border: 1px solid #e2e2e2;
}
.progressbar {
  width: 100%;
  height: 5px;
  background: #ff4c52;
}
.progress-status {
  width: 65%;
  background-color: #3e8ef7;
  height: 100%;
}
.numbers {
  border-bottom: 2px solid #17b3a3;
}
.dash-content {
  display: grid;
  grid-template-columns: 1.3fr 3fr;
  gap: 20px;
}
.numbers2 {
  border-bottom: 2px solid #3e8ef7 !important;
}
.one {
  margin-bottom: 25px;
}
.top-side-of {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
}
.top-side-of h6 {
  align-items: center;
  display: flex;
}
.top-side-of .MuiSvgIcon-root {
  font-size: 18px;
}
.first {
  color: #ff4c52;
}
.last {
  color: #3e8ef7;
}
.left-side {
  display: grid;
  grid-template-columns: 1fr;
}
.under {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}
.under h6 {
  font-size: 14px;
  padding-top: 10px;
  font-weight: 300;
  color: #a1a1a1;
  display: inline-block;
}
.under button {
  background: none;
  border: 1px solid #e5e5e5;
  font-size: 14px;
  padding: 0.3rem 0.8rem !important;
  color: #17a2b8;
  transition: 250ms ease;
  border-radius: 4px;
}
.under button:hover {
  background: #17a2b8;
  color: #fff;
  border: none;
}
.top-body p {
  font-size: 14px;
  color: #a1a1a1;
}
.under span {
  color: red;
}
