.cont-end p {
  margin-bottom: 0px !important;
}
.cont-end {
  text-align: right;
}
.control-content {
  display: grid;
  grid-template-columns: 0.3fr 1fr 1fr 6fr;
  gap: 20px;
}
.icons-contM {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icons-cont {
  display: flex;
  align-items: center;
  border: 1px solid #eee;
  justify-content: center;
  padding: 8px 12px;
  cursor: pointer;
  transition: 250ms ease-in-out;
}
.icons-cont:hover .MuiSvgIcon-root {
  color: #333;
}
.icons-cont .MuiSvgIcon-root {
  color: #979696;
  font-size: 15px !important;
}
.cont-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.controls {
  margin-top: 15px;
}
.cont-end p {
  margin-right: 8px;
  font-weight: bold;
}
.mail-table p {
  margin-bottom: 0px !important;
}
.email-img {
  overflow: hidden;
  border-radius: 10px;
  height: 30px;
  width: 30px;
}
.inboxes table {
  color: #757575;
  margin-top: 25px;
  width: 100%;
}

.inboxes table tr {
  transition: 150ms ease-in-out;
  display: flex;
  align-items: center;
  display: table-row;
  position: relative;
  z-index: 2;
}
.modal-formail {
  width: 790px;
  background: #fff;
  z-index: 3;
  height: 0px;
  position: absolute;
  transition: height 250ms ease-in-out;
  overflow: hidden;
}
.modal-formail > * {
  position: absolute;
}
.from-who p {
  margin-bottom: 15px !important;
  font-size: 19px !important;
  font-weight: 600;
}
.from-who p:first-child {
  margin-bottom: 8px !important;
}
.inboxes table tr:hover {
  background: rgba(0, 0, 0, 0.09);
}
.inboxes table tr .mail-name {
  font-size: 14px !important;
  text-transform: capitalize;
  text-align: center;
}
.inboxes table tr p {
  margin-bottom: 0px !important;
}
.subject-titile {
  font-size: 14px !important;
  text-align: left;
}
.inboxes table tr:hover .mail-name {
  color: #000;
}
.inboxes table tr:nth-child(odd) {
  background: rgba(0, 0, 0, 0.05);
}
.inboxes table tr:nth-child(odd):hover {
  background: rgba(0, 0, 0, 0.09);
}
.inboxes table tr td {
  padding: 1rem 0.5rem;
}
.inboxes table .subject {
  font-size: 13px !important;
}
.text-yellow {
  color: #faa700;
  font-size: 16px !important;
}
.mail-name {
  font-size: 18px !important;
}
.attach {
  display: flex;
  align-items: center;
  justify-content: center;
}
.attach .MuiSvgIcon-root {
  font-size: 14px !important;
}
.inboxes table input {
  height: 20px;
  width: 20px;
}
.checking {
  display: flex;
  align-items: center;
  justify-content: center;
}
.res-search {
  display: none;
  margin: 0 10px;
}
@media screen and (max-width: 700px) {
  .mail-sidebar {
    position: fixed;
    left: -100%;
    width: 60%;
    height: 100%;
    margin-top: 0px;
    background: #f2f3f8;
    transition: 350ms all;
    z-index: 1 !important;
  }
  .mail-sidebar#active {
    left: 0%;
    transition: 350ms all;
  }
  .mail-sidebar#active .mailbars {
    left: 50%;
    top: 430px;
    transition: 450ms all;
  }
  .support {
    position: relative !important;
  }
  .mail-sidebar#active .mailbars .mailspan:first-child {
    transform: rotate(45deg);
    position: -ms-page;
    bottom: -2.5px;
    transition: 250ms ease-in-out;
  }
  .mail-sidebar#active .mailbars .mailspan:last-child {
    transform: rotate(-45deg);
    position: -ms-page;
    top: -5px;
    transition: 250ms ease-in-out;
  }
  .inbox {
    padding: 0px 20px !important;
    width: 100%;
  }
  .inboxes {
    overflow-x: scroll;
  }
  .control-content {
    grid-template-columns: 1fr;
  }
  .inboxes table {
    width: 100%;
  }
  .email-img {
    display: none;
  }
  .inboxes table tbody tr td {
    white-space: nowrap;
  }
  .nav-search_bar {
    display: none;
  }
  .nav-res2 .notification-data {
    right: -150px !important;
  }
  .mailbars {
    display: block;
    position: fixed;
    top: 430px;
    z-index: 999;
    left: 0;
  }
  .mail_body_search-bar {
    max-width: 190px;
  }
  .nav-res2 .mail_body_search-bar {
    max-width: 350px;
  }
  .res-input {
    position: absolute;
    width: 100%;
    left: 0;
    top: -100%;
    border: none;
    padding: 10px 10px;
    transition: 300ms ease-in-out;
    z-index: -1;
  }
  .res-input:focus {
    outline: none;
  }
  .res-input.active {
    top: 100%;
  }
  .nav-res2 {
    z-index: 9999;
  }
  .res-search {
    display: block;
  }
}
