.mail-sidebar {
  border-right: 1px solid #dfdbdb;
  height: 530px;
  width: 20%;
  overflow-y: scroll;
  position: fixed;
  margin-top: 60px;
  z-index: 1;
}
.mail-sidebar::-webkit-scrollbar {
  display: none;
}
.compose-button {
  margin-top: 20px;
}
.compose-button button {
  width: 100%;
  text-align: center;
  border: none;
  background: #17b3a3;
  color: #fff;
  padding: 0.45rem 0;
  border-radius: 5px;
  transition: 250ms ease-in-out;
}
.compose-button button:hover {
  background: #1bccba;
}
.mailside_header {
  margin-top: 40px;
  border-bottom: 1px solid #dfdbdb;
  padding-bottom: 15px;
}
.mailside_header p {
  font-size: 20px !important;
  text-transform: uppercase;
  margin-bottom: 0 !important;
}
.back_actived,
.back_active {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  font-size: 13px;
  transition: 250ms ease-in-out;
  position: relative;
}
.back_active {
  margin-top: 4px;
}
.back_active .MuiSvgIcon-root,
.back_actived .MuiSvgIcon-root {
  font-size: 15px !important;
}
.back_actived.activated {
  background: #3e8ef7;
  color: #fff;
}
.back_active::before {
  content: "";
  height: 100%;
  width: 3px;
  position: absolute;
  left: 0;
  right: 0;
  background: #3e8ef7;
  opacity: 0;
  transition: 250ms ease-in-out;
}
.back_active:hover {
  background: #fff;
}
.back_active:hover::before {
  opacity: 1;
}
.hulu_left {
  display: flex;
  align-items: center;
}
.hulu_left p {
  margin-bottom: 0 !important;
  margin-left: 6px;
  text-transform: capitalize;
}
.inbox_rest {
  margin-top: 19px;
}
.hulu_right {
  background: #17b3a3;
  padding: 2px 10px;
  text-align: center;
  color: #fff;
}
.inbox {
  margin-top: 80px;
  width: 100%;
  padding-left: 280px;
}
.last-2 {
  color: #faa700;
}
.mail_body_search-bar {
  background: #f0efef;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  height: 30px;
  padding: 3px;
  width: 60px;
  position: relative;
  transition: width 1000ms cubic-bezier(0.18, 0.89, 0.32, 1.06);
  overflow: hidden;
  max-width: 350px;
  margin-right: 20px;
}
.mail_body_search-bar .search__input {
  flex: 1;
  font-size: 15px;
  padding: 0 0.5em;
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  line-height: 57px;
  opacity: 0;
  cursor: pointer;
}
.mail_body_search-bar .search__input:focus {
  outline: 0;
}
.search__submit {
  font-size: 1.5rem !important;
  cursor: pointer;
  border: 0;
  background: none;
  border-radius: 50%;
  height: calc(60px - 10px);
  width: calc(60px - 10px);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  transition: background 350ms ease-in-out;
}
.mail_body_search-bar:focus-within {
  width: 100%;
}
.mail_body_search-bar:focus-within .search__input {
  opacity: 1;
  cursor: initial;
  width: calc(100% - 60px);
}
.mainbody-header {
  border-bottom: 1px solid #e2e2e2;
  padding: 10px 0;
}
.inbox-mainbody {
  background: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  margin-bottom: 60px;
  padding: 10px 0;
  border-radius: 10px;
}
.mainbody-header p {
  margin-bottom: 40px !important;
  font-size: 15px !important;
}
.mainbody-header h5 {
  font-size: 18px !important;
}
.mainbody-header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
