.looks {
  width: 100%;
}
.side-header {
  padding: 15px 0;
}
.side-header h5 {
  font-size: 23px !important;
}
.general {
  margin-top: 20px;
  text-transform: uppercase;
}
.general h6 {
  font-size: 14px !important;
  color: #666;
}
.linkflex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 6px;
}
.small {
  font-size: 16px !important;
  color: #333;
}
.smaller#active {
  transform: rotate(90deg);
  transition: 250ms cubic-bezier(0.39, 0.575, 0.565, 1);
}
.smaller#activenot {
  transform: rotate(0deg);
  transition: 250ms cubic-bezier(0.39, 0.575, 0.565, 1);
}
.smaller {
  font-size: 13px !important;
  color: #333;
  transition: 250ms cubic-bezier(0.39, 0.575, 0.565, 1);
}
.links {
  display: flex;
  align-items: center;
}
.box-for {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border: 2px solid #eee;
  border-radius: 50%;
  padding: 6px;
  margin-right: 6px;
}
.tree {
  height: 410px;
  overflow-y: scroll;
}
.tree::-webkit-scrollbar {
  display: none;
}
.tree p {
  margin: 0 !important;
  font-size: 13px !important;
}
.tree a {
  text-decoration: none;
  color: #333;
}
.display {
  height: 0px;
  overflow: hidden;
  transition: height ease 250ms;
}
.display.show {
  transition: height ease 250ms;
  height: 15px;
}
.mail-dash{
  position: absolute;
  top: 0;
  right: 0;
  width: 83%;
  min-height: 100vh;
  background: #f2f3f8;
  z-index: 1;
}

@media screen and (max-width: 700px) {
  .tree {
    height: auto;
  }
}
